body, pre {
  font-family: IBMVGA8;
}

pre {
  overflow: auto;
}

a {
  text-decoration: none;
  color: $teal-color;

  &:hover, &:focus {
    color: $yellow-color;
  }
}

strong, b {
  font-weight: normal;
  color: $white-color;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: normal;
    font-size: 16px;
  }
}


ul {
  list-style-type: none;

  li.with-bullet {
    span {
      color: $gray-font-color;
    }

    &--green {
      &:before {
        content: "\2666";
        padding-right: 1ch;
        color: #0a0;
      }
    }
  }
}
