.column {
  margin: 15px 0;

  &--content {
    background-color: $gray-color;
  }


  &--transparent {
    background-color: transparent;
  }

  &__header {
    border-bottom: 1px solid $red-dark-color;

    &__title {
      margin: 5px 0;
      color: $orange-color;

      &--center {
        text-align: center;
      }


    }
  }

  &__footer {
    text-align: center;
    color: $orange-color;

    &__title {
      border-top: 1px solid $red-dark-color;
      margin: 5px 0;
      padding: 5px 0;

      &__meta {
        margin: 0 10px;

        @include mobile() {
          display: block;
        }
      }
    }
  }
}
