$black-color:      #000000;
$gray-color:       #181818;
$gray-light-color: #323232;
$gray-font-color:  #999999;
$yellow-color:     #FFFF55;
$red-color:        #BB0000;
$red-light-color:  #FF5555;
$red-dark-color:   #AA0000;
$teal-color:       #00AAAA;
$teal-light-color: #55FFFF;
$orange-color:     #CC6600;
$white-color:      #FFFFFF;


$desktop-container-width: 800px;
$desktop-min-width:       1024px;
$mobile-max-width:        768px;
