@import "variables";
@import "mixins";
@import "fonts";
@import "defaults";
@import "layout";
@import "pygment";

@import "pages/index";
@import "pages/article";

.page-background {
  background-color: $black-color;
  color: $gray-font-color;
}

.main {
  margin-top: 100px;

  @include desktop() {
    width: $desktop-container-width;
    margin: 100px auto;
    position: relative;
  }
}

.menu {
  background-color: $gray-color;
  z-index: 1;

  &--floating {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &__content {
    margin: 5px 0;
    background-color: $gray-light-color;
  }
}

.navigation {
  margin: 10px auto;
  padding: 10px 15px;

  @include mobile() {
    text-align: center;
  }

  @include desktop() {
    width: $desktop-container-width;
    position: relative;
  }

  &__title {
    color: $yellow-color;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding-right: 25px;

    @include mobile() {
      display: block;
      padding: 0;
      margin: 10px 0;
    }

    @include desktop() {
      position: absolute;
      transform: translateX(-100%);
    }
  }

  &__list {
    padding: 0;
    display: inline;

    &__item {
      display: inline-block;
      list-style-type: none;
      text-transform: uppercase;

      &__link {
        text-decoration: none;
        color: $teal-light-color;

        &--active {
          color: $red-light-color;

          &:after {
            color: $red-dark-color !important;
          }

          &:before {
            color: $red-dark-color !important;
          }
        }

        &:after {
          content: "]";
          color: $teal-color;
        }

        &:before {
          content: "[";
          color: $teal-color;
        }
      }
    }
  }
}

.ascii-picture {
  font-size: 6px;
  margin: auto;
  width: 392px;

  @include mobile() {
    font-size: 4px;
    width: 264px;
  }
}
