.article {
  h2 { color: $orange-color }

  h3, h4, h5, h6 { color: $red-color }

  &__section {
    padding: 15px 20px;
    background-color: $gray-color;
    margin: 30px 0;
    position: relative;

    h2 {
      border-bottom: 1px solid $red-dark-color;
      padding-bottom: 5px;
      margin: 0 0 25px 0;
    }

    img {
      max-width: 760px;
    }

    &__to_top {
      position: absolute;
      right: 20px;
      top: 15px;
      text-decoration: none;
      display: none;
      color: $teal-light-color;

      &:before {
        content: "\25b2\a0";
        color: $teal-color;
      }

      &:after {
        content: "\a0\25b2";
        color: $teal-color;
      }
    }

  }

  .article__section {
    h2 ~ .article__section__to_top {
      display: block;
    }
  }
}

.table-of-contents {
  display: inline-block;
  vertical-align: top;
  > strong { color: $white-color; }
}

#toc {
  display: inline-block;
  vertical-align: top;

  ul {
    margin: 0;
    padding-left: 4ch;

    li {
      > a {
        text-decoration: none;
        color: $teal-light-color;

        &:before {
          color: $teal-color;
          content: "\BB\A0";
        }

        &:hover, &:focus {
          color: $yellow-color;

          &:before {
            color: $teal-color;
            content: "\25BA\A0";
          }
        }
      }

      ul {
        li > a {
          color: $teal-color;

          &:hover, &:focus {
            color: $yellow-color;
          }

          &:before {
            content: "\25cb\A0";
          }
        }
      }
    }
  }
}
