{% extends "base.html" %}


{% block content %}
<div class="column column--content column--transparent">
  <header class="column__header">
    <h1 class="column__header__title">{{ article.title }}</h1>
  </header>
</div>
{% if article.toc %}
<div class="column column--content column--transparent">
  <div class="table-of-contents">
    <strong>Jump to:</strong>
  </div>
  {{ article.toc }}
</div>
{% endif %}
<article class="column article">
  {{ article.content }}
</article>
<div class="column column--content column--transparent">
  <footer class="column__footer">
    {% set year = article.locale_date.split('-')[2] %}
    <time class="column__footer__title__meta">created: {{ article.locale_date }}</time>
    {% if article.date %}<time class="column__footer__title__meta">modified: {{ article.locale_date }}</time>{% endif %}
    <h1 class="column__footer__title">{{ article.author }} © {{ year }}-{{ CURRENT_YEAR }}</h1>
  </footer>
</div>
{% endblock content %}
