<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
  {% endblock head %}
</head>

<body class="page-background">
  <aside class="menu menu--floating">
    <div class="menu__content">
      <div class="navigation">
        <h2 class="navigation__title">{{SITENAME | upper}}</h2>
        <ul class="navigation__list">
          {% for title, link in MENUITEMS %}
            <li class="navigation__list__item"><a class="navigation__list__item__link {% if p == page %}navigation__list__item__link--active{% endif %}" href="/{{link}}">{{title}}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in pages %}
            <li class="navigation__list__item"><a class="navigation__list__item__link {% if p == page %}navigation__list__item__link--active{% endif %}" href="/{{p.url}}">{{p.title}}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </aside>
  <main class="main">
    {% block content %}{% endblock content %}
  </main>
</body>
</html>
