{% extends "base.html" %}


{% block content %}
<article class="column article">
  <section class="article__section">
    <h2>Stuff that I wrote</h2>
    <ul>
      {% for article in articles_page.object_list %}
      <li class="with-bullet with-bullet--green"><a href="/{{ article.url }}"><span>{{ article.locale_date }}</span> {{ article.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
</article>

{% endblock content %}
